.section-aboutUs{
    padding-top: 100px;
}
.section-aboutUs h2{
font-size: 1.5rem;
font-weight: bold;
color:#767676;

}

.section-aboutUs p{
    font-size: 0.9rem;
    color:#767676


}
.aboutUsFirstBanner{
height:300px;
margin-right: 20px;
object-fit: cover;
}
.aboutUsSecondBanner{
    height:300px;
    object-fit: cover;
}
.section-aboutWhatWeDo{
    background-color: #333;
    color:#fff;
    /* height:400px; */
    padding:100px 200px;
   
}
.section-aboutWhatWeDo h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.section-aboutWhatWeDo p{
    font-size: 0.9rem;
    line-height:2;
}
.section-aboutOurShow{
    padding:120px 50px 20px 50px;
}
.section-aboutOurShow h2{
    font-size: 1.5rem;
    font-weight: bold;
    color:#767676

}
.section-aboutOurShow p{
    font-size: 0.9rem;
    color:#767676

}

.section-aboutOurShow img{
    width:500px;
    height: 400px;

}
.section-aboutUs-image{
    overflow: hidden;
	position: relative;
    transition: all .5s ease-in-out;
}
.section-aboutUs-image:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.section-aboutUs-image figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.section-aboutUs-image figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


@media only screen and (max-width: 768px) {
        .section-aboutWhatWeDo{
            padding:20px;
            line-height: 1.5;
           
        }
        .section-aboutOurShow{
            padding:10px;
        }
        .section-aboutOurShow img{
            height:300px;
            /* width:300px; */
            margin-top: 30px;
        }
}

@media only screen and (max-width: 600px) {
    .section-aboutUs{
        margin:0px!important;
    }
    .section-aboutOurShow{
        padding:30px;
    }
    .section-aboutUs h2{
        padding-top: 5rem;
    }
    .section-aboutWhatWeDo{
        /* padding:20px 5px!important; */
        line-height: 1.5;
       
    }
    /* .section-aboutOurShow{
        padding:20px 5px!important;
    } */
    .section-aboutOurShow img{
        width:100%;
        height: auto;
        margin-bottom: 10px;
    
    }
    .section-aboutUs{
        padding-top:0px;
    }
    .aboutUsSecondBanner{
        padding:0px 0px 1rem;
    }
    .aboutContent{
        padding-right:0px!important;

    }

}