.starkslogo img{
    height: 40px;
}
.navbarName li{
    font-size: 0.8rem;
}
.nav-togglericon{
    border:0px!important;

}
.nav-times{
    display: none;
    /* transition:all 150ms ease-out; */
}
.section-navbar{
    background-color: #333;
}

@media only screen and (max-width: 600px) {
    .navbarDropdown a{
        color:#000;
      }
    
    .navbarDropdown a:hover{
        color: blue!important;
    
    }
.navbarDropdown{
    background-color: #fff;
    width:80%;
    height:200px;
     margin: 10px 20px;
    border-radius: 5px;
    padding: 10px 0px;
    cursor: pointer;
    /* backdrop-filter: blur(15%); */
    /* transition: all 2s ease; */
    /* transition-property: left; */
    /* transition: all 0.5s ease-out; */
    /* transform: translate(50%);   */
    animation: moveToLeft 500ms ease-out;
    /* animation: moveOut 500ms ease-in; */

   
}

@keyframes moveToLeft {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
      /* width: 300px;
      height: 300px;
      border-radius: 50%;
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    }
  }
  
/* .burger{
    transform: translateY(0px);
    transition: 500ms 0s ease-out;
} */


}
