.inner-banner{
    width:100%;
    background-color: #000;
    margin-top:5rem;
}

.inner-banner .banner-video{
    width: 600px;
    margin:0px auto;
    display: block;
}
.section-innerContent{
    width:40%;
    margin: auto;
    padding: 10px 0px;
}
.section-innersubconent{
    font-size: 0.8rem;
    font-weight: 700;
    padding:8px 0px;

}
.section-innerPage{
    height: 600px;
    max-width:80%;
}
.section-innerContent h1{
    font-size: 2rem;
    font-weight: bold;
    max-width: 100%;
}
.section-innerContent p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.section-innerInfo{
    margin-right: 20px;
}
.section-innerInfo h2{
    font-size: 0.8rem;
    padding-bottom: 5px;
    font-weight: bold;

}
.section-innerInfo img{
    width:100px;
    height: 80px;

}

@media only screen and (max-width: 600px) {
    .section-innerContent{
        padding: 5px;
        width:100%
    }
    .section-innerPage{
        height: auto;
        max-width:100%;

    }
    .section-innerPage{
        width:100%;
        /* padding: 5px; */
    }
    .section-innerContent h1 {
        font-size:1.5rem;
    }
    .inner-banner{
  
        margin-top:2.5rem;
    }
}
@media only screen and (min-width: 700px) {
    .section-innerContent{
        width:80%;
        /* padding: 5px; */
    }
}

