@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,800;1,900&display=swap');

@import url('./header.css');
@import url('./Banner.css');
@import url('./innerPage.css');
@import url('./contactUs.css');
@import url("./footer.css");
@import url("./AboutUs.css");


html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: var(--font-family);
    overflow-x: hidden;
}
.banner-image{
height: 500px;
object-fit: contain;
filter: grayscale(40%);
transition: none;

}
.section-carouselindicator{
    border-radius: 50%;
    width: 10px!important;
    height: 10px!important;
}
.section-blog-img{
    height:430px;
    /* width:300px; */
}

.section-image-grid img{
        height: 150px;
    object-fit: cover;
    /* width:200px; */
    margin: auto;
    /* height:400px; */


}
.navbarDropdown li{
  font-size: 0.8rem;
}
.section-content{
    position: relative;
    cursor:  pointer;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}
.section-media-heading{
  font-size: 1.5rem;
  font-weight: bold;
  color:#767676
}

.history-icons{
    transition: .5s ease;
    opacity: 0;
    position: absolute; 
     top: 0;
    left: 0; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.hover-icons:hover .history-icons{
    opacity: 1;
}
.section-blog{
    transition: transform 0.2s linear;
    margin-left: 18px;
    overflow: hidden;
        /* height:600px; */
        /* width:400px;
        height:600px; */
        width:50%;
}

.section-blog img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.time-icon{
    position: absolute;
    top: 0.5rem;
    right: -280px;
}

.time-icon :hover{
    background-color: #00adef;
}
.play-icon-bg :hover{
    background-color: #00adef;

}
.play-icon{
    background-color: rgba(23,34,35,.75);
    border-radius: 5px;
     padding:  5px 25px;
     color:#fff;
     margin-right: 170px;

 } 

.duration-icon{
    background-color: rgba(23,34,35,.75);
    border-radius: 5px;
     padding:  2px;
     color:#fff;
     font-size: 0.7rem;
 
}
.time-icon-bg{
    background-color: rgba(23,34,35,.75);
   border-radius: 5px;
    padding:  5px 8px;
    color:#fff;
}
.sec-play-duration{
    position: absolute;
    top:110px;
    padding:0px 10px;
}
.artist-name{
    color: #3A5161;
    font-size: 0.8rem;
    margin: 0px;
    padding: 0px;
}
.artist-avater{
border-radius: 50%;
width: 20px;
height: 20px;
margin-right: 5px;
}
.artist-details{
    color: #879CAB;
    font-size: 0.8rem;
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
  }
} 

/* @media only screen and(min-width:1300px){
  .history-icons{
display: none;
  }
} */
@media only screen and (max-width: 1024px) {
    .time-icon{
        right: -190px;
    }
    .play-icon{   
         /* padding:  5px 25px; */
         margin-right: 80px;

}
}
@media only screen and (max-width: 768px) {
    .time-icon{
        right: -160px;
    }
    .play-icon{   
         /* padding:  5px 25px; */
         margin-right: 50px;

}
}
@media only screen and (max-width: 600px) {
    .banner-image{
        height:auto;
    }
    /*holding the container of the media section*/
    .section-media{
        padding:0px 10px!important;
    }
    /*div holding the feature media*/
    .section-blog{
        width: 100%;
        margin-left: 0px!important;
    }
    /*holding the grid in the section media*/
    .section-content{
       margin:0px!important; 
    }
   .section-mediacontainer{
  padding: 10px 0px!important;
    }
    .section-imgpad{
        padding-right: 0px!important;
    }
    .time-icon{
        right: -170px;
    }
    .play-icon{   
         /* padding:  5px 25px; */
         margin-right: 60px;
    }
    .section-media-heading{
    padding-left: 0px!important;
     }

}
@media only screen and (max-width: 400px) {
    .time-icon{
        right: -150px;
    }
    .play-icon{          
         margin-right: 40px;
}
}

